<html>
	<head>
		<title>Headlines</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
		<link href="../static/assets/indexpage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
		<header>
				<nav class="menu">
				<a href="/bbc/" class="menu-item -home -active">BBC</a>
				<a href="/cnn/" class="menu-item">CNN</a>
				<a href="/fox/" class="menu-item">FOX</a>
				<a href="/iol/" class="menu-item">IOL</a>
				</nav>
		</header>
        <!--Div é colocado pra destacar o texto com fundo branco no css -->
        <div>
        <h1>Headlines</h1>
        {% for article in articles %}
        <b><a href="{{article.link}}">{{article.title}}</a></b><br />
            <i>{{article.published}}</i><br />
            <p>{{article.summary}}</p>
            <hr/>
        {% endfor %}
        </div>
    </body>
</html>
